@charset "utf-8";

/* initial setting */
:root{
    --text_color: #1d1d1e;
    --color_white: #fff;
    --border_color: #d7d7dc;
}
html{
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{ display: none; }
@media (max-width:992px) {
    html{font-size: 50%;}
}
body {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    line-height: 1.5;
    color: var(--text_color);
    word-break: keep-all;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{ width: 8px; }
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #d7d7dc;
}
input, textarea, button, select{
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}
/* tag reset css */
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: var(--text_color);
}
a, div, span{
    box-sizing: border-box;
}

/* common css */
.bh_wrap {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.fw-l{ font-weight: 300 !important; }
.fw-n{ font-weight: 400 !important; }
.fw-m{ font-weight: 500 !important; }
.fw-b{ font-weight: 700 !important; }

/*.ff-prtd { font-family: 'Pretendard', sans-serif !important;}*/

.m_view{ display: none !important; }
@media (max-width:992px) {
    .pc_view{ display: none !important; }
    .m_view{ display: block !important; }
    .bh_wrap {padding: 0 20px; }
}

.img_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.img_bg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header */
/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color_white);
    height: 100px;
    border-bottom: 1px solid #d7d7dc;
    z-index: 99;
    transition: 0.3s;
}
header.sub_fixed{
    transform: translateY(-100%);
}
header.sub_fixed.scroll_up{
    transform: translateY(0);
}
header > .bh_wrap{ height: 100%; padding: 0 15px; }
header .header_inner{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
header .header_inner.inner_mobile{ display: none; }

header .header_inner > .header_logo{
    display: flex;
    align-items: center;
    max-width: 200px;
}

header .header_inner > .header_menu_list {
    height: 100%;
}

header .header_inner > .header_menu_list > ul{
    display: flex;
    height: 100%;
    column-gap: 30px;
}
header .header_inner > .header_menu_list > ul > li{
    height: 100%;
}
header .header_inner > .header_menu_list > ul > li > a{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
header .header_inner > .header_menu_list > ul > li > a:hover,
header .header_inner > .header_menu_list > ul > li > a.active{
    font-weight: 700;
}
header .header_inner > .header_btn_wrap {
    position: relative;
    display: flex;
    gap: 10px;
}
header .header_inner > .header_btn_wrap > .header_btn{
    border: 1px solid var(--border_color);
    background-color: var(--color_white);
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.3s;
}
header .header_inner > .header_btn_wrap > .header_btn:hover{
    background-color: var(--text_color);
    color: var(--color_white);
}
header .header_inner > .header_btn_wrap > .header_btn.btn_download,
header .header_inner > .header_btn_wrap > .header_btn.btn_download_m{
    background-color: #1d1d1e;
    color: #fff;
    border: none;
}
header .header_inner > .header_btn_wrap > .header_btn.btn_download:hover,
header .header_inner > .header_btn_wrap > .header_btn.btn_download_m:active{
    background-color: #ff6b00;
} /* 241129 */


header .header_notice{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 9;
    background-color: rgba(0,0,0,0.8);
    padding: 14px 15px 13px;
    color: var(--color_white);
}
header .header_notice.hide{
    opacity: 0;
    transform: translateY(-100%);
    z-index: -1;
}
header .header_notice > .notice_inner{
    position: relative;
    z-index: 10;
    max-width: 640px;
    margin: auto;
}

header .header_notice > .notice_inner > .notice_text_wrap{
    width: 100%;
    text-align: center;
}
header .header_notice > .notice_inner > .notice_text_wrap > a{
    color: var(--color_white);
}
header .header_notice > .notice_inner > .notice_text_wrap > a > p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
}
header .header_notice > .notice_inner > .notice_text_wrap > a > p.notice_text1{
    font-size: 2rem;
}
header .header_notice > .notice_inner > .notice_close{
    position: absolute;
    top: 0;
    right: -40px;
    transform: translateX(100%);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header_notice > .notice_inner > .notice_close > img{
    width: 12px;
}

/* download popup */

.download_info_popup{
    position: fixed;
    top: 75px;
    right: calc((100vw - 1215px) / 2);
    background-color: var(--color_white);
    z-index: 15;
    width: 435px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    padding: 40px 60px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.download_info_popup.active{
    opacity: 1;
    pointer-events: all;
}
.download_info_popup .popup_close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download_info_popup .popup_close > img{
    max-width: 16px;
}
.download_info_popup .popup_inner .popup_content{
    display: flex;
}
.download_info_popup .popup_inner .popup_content > .popup_text_wrap{
    flex-grow: 1;
}
.download_info_popup .popup_inner .popup_content > .popup_text_wrap > .popup_logo_wrap{
    max-width: 60px;
    margin-left: -7px;
}
.download_info_popup .popup_inner .popup_content > .popup_text_wrap .popup_text{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.27px;
}
.download_info_popup .popup_inner .popup_content > .popup_qr_wrap{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}
.download_info_popup .popup_inner .popup_btns{
    display: flex;
    gap: 20px;
    margin-top: 35px;
}
.download_info_popup .popup_inner .popup_btns .item_btn{
    flex: 0 0 calc(50% - 10px);
    background-color: var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    gap: 5px;
    color: var(--color_white);
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 8px;
}
.download_info_popup .popup_inner .popup_btns .item_btn.btn_appstore > img{
    max-width: 19px;
}
.download_info_popup .popup_inner .popup_btns .item_btn.btn_playstore > img{
    max-width: 16px;
}
@media (max-width:1200px) {
    header .header_inner > .header_menu_list > ul{
        column-gap: 20px;
    }
}
@media (max-width:992px) {
    header{
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 99;
    }
    header .header_inner.inner_pc{ display: none; }
    header .header_inner.inner_mobile{
        display: flex;
    }
    header .header_inner.inner_mobile > .header_logo{
        max-width: 132px;
        padding-left: 5px;
    }
    header .header_inner.inner_mobile .header_btn_wrap{
        gap: 26px;
        align-items: center;
    }
    header .header_inner.inner_mobile .header_btn_wrap .header_btn{
        font-size: 1.4rem;
        padding: 0 12px;
        height: 29px;
        line-height: 29px;
    }
    header .header_inner.inner_mobile .header_btn_wrap .m_nav_btn{
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        line-height: 1;
        color: #68686c;
    }
    header .header_inner.inner_mobile .header_btn_wrap .m_nav_btn > .icon_close{ display: none; }

    header .header_inner.inner_mobile .header_btn_wrap .m_nav_btn.active > .icon_close{
        display: block;
        max-width: 12px;
    }
    header .header_inner.inner_mobile .header_btn_wrap .m_nav_btn.active > .icon_menu{ display: none; }

    header .header_inner.inner_mobile .m_header_menu_list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 59px);
        background-color: var(--color_white);
        z-index: 99;
        padding: 16px 0;
        transform: translateX(100%);
        transition: 0.3s;
        box-sizing: border-box;
    }
    header .header_inner.inner_mobile .m_header_menu_list.active{
        transform: translateX(0);
    }
    header .header_inner.inner_mobile .m_header_menu_list ul li a{
        display: block;
        padding: 16px 28px;
        line-height: 1.25;
        letter-spacing: -0.24px;
        box-sizing: border-box;
        font-size: 16px;
    }
    header .header_inner.inner_mobile .m_header_menu_list ul li a.active{
        font-weight: 700;
    }
    header .header_inner.inner_mobile .m_header_menu_list .m_header_menu_btn{
        max-width: calc(100% - 56px);
        width: 100%;
        padding: 12px;
        border: 1px solid var(--border_color);
        border-radius: 8px;
        font-size: 14px;
        line-height: 1;
        letter-spacing: -0.56px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    header .header_inner.inner_mobile .floating_link{
        position: fixed;
        width: 100%;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 264px;
        height: 52px;
        border-radius: 12px;
        background-color: var(--text_color);
        color: var(--color_white);
        text-align: center;
        font-size: 16px;
        letter-spacing: -0.24px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    }

    .download_info_popup{
        position: fixed;
        top: 50px;
        right: 15px;
        width: 100%;
        max-width: 435px;
    }
    header .header_notice > .notice_inner > .notice_text_wrap { width:calc(100% - 50px); }
    header .header_notice > .notice_inner > .notice_close { right: 30px; }
}

@media (max-width:465px) {
    .download_info_popup{
        max-width: calc(100% - 30px);
        padding: 40px 15px 20px;
    }
    .download_info_popup .popup_close{
        width: 25px;
        height: 25px;
    }
    .download_info_popup .popup_close > img{
        max-width: 12px;
    }
}

/* footer */
/* footer */
footer > .footer_inner{
    padding: 40px 0 100px;
    border-top: 1px solid var(--border_color);
}
footer > .footer_inner .footer_con_wrap{
    display: flex;
}
footer > .footer_inner .footer_con_wrap.wrap_mobile{ display: none; }
footer > .footer_inner .footer_con_wrap > .footer_con{
    flex: 0 0 50%;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info2,
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info3{
    margin-top: 30px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info > div{
    display: flex;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info > .main_info{
    line-height: 1.25;
    letter-spacing: -0.24px;
    gap: 6px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info > .sub_info{
    margin-top: 8px;
    gap: 4px;
    line-height: 1.43;
    letter-spacing: 0.56px;
    font-size: 1.4rem;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info > .sub_info > .fw-m{
    letter-spacing: -0.21px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info .info_notice{
    line-height: 1;
    letter-spacing: -0.6px;
    color: #979798;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 300;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_copyright{
    margin-top: 40px;
    color: #68686c;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.43;
    letter-spacing: -0.21px;
}

footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info1 > .main_info{
    font-size: 1.4rem;
    gap: 7px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info1 > .main_info > span{
    line-height: 1.43;
    letter-spacing: -0.21px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info1 > .main_info > span.info_name{
    font-weight: 700;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info1 > .main_info > span.info_val{
    color: #68686c;
}

footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    font-size: 1.4rem;
    line-height: 1.43;
    letter-spacing: -0.21px;
    color: #68686c;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav.nav2{
    margin-top: 40px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul > li > a{
    position: relative;
    transition: 0.3s;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul > li:not(:last-child) > a::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background-color: #d7d7dc;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul > li.highlighted > a{
    font-weight: 500;
    color: #007aff;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul > li > a:hover{
    text-decoration: underline;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info4{
    margin-top: 10px;
    margin-bottom: 20px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info .info_col{
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
    color: #68686c;
    column-gap: 20px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_info .info_col:not(:last-child){ margin-bottom: 4px; }
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn{
    position: relative;
    max-width: 185px;
    margin-left: auto;
    font-size: 1.4rem;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn > p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border_color);
    height: 35px;
    border-radius: 8px;
    padding: 0 9px 0 12px;
    cursor: pointer;
    /*	font-family: 'Pretendard', sans-serif;*/
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn > p > .btn_icon{
    max-width: 12px;
    transform-origin: center;
    transition: 0.3s;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn > .site_list{
    position: absolute;
    width: 100%;
    bottom: calc(100% + 2px);
    left: 0;
    padding: 10px 0;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: 0.3s;
    background-color: #fff;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn > .site_list > li > a{
    padding: 5px 9px 5px 12px;
    background-color: #fff;
    display: block;
    width: 100%;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn > .site_list > li > a:hover{
    background-color: #f9fafb;
}

footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn.active .site_list{
    transform: scaleY(1);
    opacity: 1;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn.active > p > .btn_icon{
    transform: rotate(180deg);
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 40px;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: #636363;
    line-height: 1;
    border-radius: 100%;
    background-color: #f9fafb;
    transition: 0.3s;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link .link_icon{
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: #636363;
    transition: 0.3s;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link1 .link_icon{
    mask-image: url(../img/icon/footer_icon_blog.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
    -webkit-mask-image: url(../img/icon/footer_icon_blog.png);
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link2 .link_icon{
    mask-image: url(../img/icon/footer_icon_insta.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
    -webkit-mask-image: url(../img/icon/footer_icon_insta.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link3 .link_icon{
    mask-image: url(../img/icon/footer_icon_youtube.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
    -webkit-mask-image: url(../img/icon/footer_icon_youtube.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link4 .link_icon{
    mask-image: url(../img/icon/footer_icon_facebook.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
    -webkit-mask-image: url(../img/icon/footer_icon_facebook.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link > img{ max-width: 24px; }
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link1:hover{
    background-color: #03c75a;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link2:hover{
    background-color: #1d1d1e;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link3:hover{
    background-color: #ff0000;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link.link4:hover{
    background-color: #0863f7;
}
footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap .footer_sns_link:hover .link_icon{
    background-color: #fff;
}

@media (max-width:992px) {
    footer > .footer_inner .footer_con_wrap{
        flex-direction: column-reverse;
        display: none;
    }
    footer > .footer_inner .footer_con_wrap.wrap_mobile{ display: block; }
    footer > .footer_inner .footer_con_wrap > .footer_con{
        flex: 0 0 100%;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul{
        justify-content: center;
        column-gap: 10px;
        row-gap: 5px;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav.nav2{ margin-top: 5px; }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_nav > ul > li:not(:last-child) > a::after{ display: none; }

    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info1,
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info2,
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info3,
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info.info4{
        margin-top: 20px;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info > .main_info{ justify-content: center; }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info > .sub_info{
        justify-content: center;
        margin-top: 5px;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info .info_notice{ text-align: center; }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_info .info_col{
        justify-content: center;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_site_list_wrap > .list_btn{
        margin: auto;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_sns_link_wrap{
        justify-content: center;
        margin-top: 20px;
    }
    footer > .footer_inner .footer_con_wrap > .footer_con .footer_copyright{
        margin-top: 20px;
        text-align: center;
    }
}

/* popup */
/* popup */
.main_popup{
    position: fixed;
    bottom: 80px;
    left: 80px;
    width: 100%;
    max-width: 480px;
    z-index: 998;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}
.main_popup.active{
    opacity: 1;
    pointer-events: all;
}
.main_popup .popup_img_wrap{
    position: relative;
    width: 100%;
    height: 418px;
}
.main_popup .popup_img_wrap .popup_img{
    position: relative;
    width: 100%;
    height: 100%;
}
.main_popup .popup_img_wrap .popup_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_popup .popup_img_wrap .popup_img > .temp_img{
    background-color: #00ffa3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    overflow: hidden;
}
.main_popup .popup_img_wrap .popup_img > .img_btn{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 50px;
    background-color: var(--text_color);
    color: var(--color_white);
    padding: 10px 40px;
    /*	font-family: 'Pretendard', sans-serif;*/
}
.main_popup .popup_img_wrap > .popup_img_tool_wrap{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    background-color: rgba(151,151,152,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 10px;
    z-index: 2;
    padding: 0 10px;
}
.main_popup .popup_img_wrap > .popup_img_tool_wrap > .popup_tool_nav{
    max-width: 6px;
}
.main_popup .popup_close_wrap{
    padding: 12px 30px;
    background-color: var(--color_white);
    display: flex;
    justify-content: space-between;
}
.main_popup .popup_close_wrap > a{
    font-size: 1.4rem;
    font-weight: 300;
    color: #68686c;
}
.main_popup .popup_img_wrap > .popup_img_tool_wrap .popup_tool_pagination_wrap{
    color: var(--color_white);
    font-size: 1.4rem;
}
.main_popup .popup_img_wrap > .popup_img_tool_wrap .popup_tool_pagination_wrap .popup_tool_pagination .popup_pagination{
    display: none;
}
.main_popup .popup_img_wrap > .popup_img_tool_wrap .popup_tool_pagination_wrap .popup_tool_pagination .popup_pagination.popup_pagination_active{
    display: inline;
}

@media (max-width:992px) {
    .main_popup{
        bottom: 15px;
        left: 15px;
    }
}
@media (max-width:510px){
    .main_popup{
        max-width: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
    }
    .main_popup .popup_img_wrap{
        height: auto;
        aspect-ratio: 1;
    }
}

/* modal popup */

.notice_modal_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 0.3s;
}
.notice_modal_popup.active{
    opacity: 1;
    pointer-events: all;
    z-index: 999;
}
.notice_modal_popup .notice_modal_dimmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.notice_modal_popup .notice_modal_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 480px;
    border-radius: 20px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.notice_modal_popup .notice_modal_inner > .modal_close_btn{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notice_modal_popup .notice_modal_inner > .modal_close_btn > img{
    max-width: 16px;
}
.notice_modal_popup .notice_modal_inner .notice_modal_content{
    padding: 60px 60px 40px;
    flex-grow: 1;
}
.notice_modal_popup .notice_modal_inner .notice_modal_content .modal_title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.36px;
    margin-bottom: 15px;
}
.notice_modal_popup .notice_modal_inner .notice_modal_content .modal_text_wrap{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notice_modal_popup .notice_modal_inner .notice_modal_content .modal_show_more{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 20px;
    font-size: 1.4rem;
    letter-spacing: -0.21px;
    color: #ff6b00;
}
.notice_modal_popup .notice_modal_inner .notice_modal_content .modal_show_more > img{
    max-width: 6px;
}
.notice_modal_popup .notice_modal_inner .notice_modal_bottom{
    padding: 13px 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notice_modal_popup .notice_modal_inner .notice_modal_bottom > .modal_close_btn{
    color: #68686c;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: -0.39px;
    line-height: 1.6;
}

@media (max-width:510px) {
    .notice_modal_popup .notice_modal_inner{
        max-width: calc(100% - 30px);
    }
    .notice_modal_popup .notice_modal_inner > .modal_close_btn{
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px;
    }
    .notice_modal_popup .notice_modal_inner > .modal_close_btn > img{
        max-width: 12px;
    }
    .notice_modal_popup .notice_modal_inner .notice_modal_content{
        padding: 40px 15px 20px;
    }
    .notice_modal_popup .notice_modal_inner .notice_modal_bottom{
        padding: 10px 15px;
    }
}

/* body */
.body{
    position: relative;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 100px;
}
@media (max-width:992px) {
    .body{ padding-top: 60px; }
}

/* main common */
.section_title_wrap{
    text-align: center;
    margin-bottom: 60px;
}
.section_title_wrap .section_title_img{
    margin: auto;
    margin-bottom: 44px;
    max-width: 160px;
}
.section_title_wrap .section_title{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.72px;
}
.section_title_wrap .section_title_btn{
    display: inline-block;
    margin: auto;
    margin-top: 40px;
    padding: 16px 40px;
    border-radius: 12px;
    background-color: var(--text_color);
    color: var(--color_white);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}
/*
.section_title_wrap .section_title_btn:hover {
        background-color: #ff6b00;
}
241129 */


@media (max-width:992px) {
    .section_title_wrap{ margin-bottom: 30px; }
    .section_title_wrap .section_title{
        font-size: 3.2rem;
    }
    .section_title_wrap .section_title_btn{
        margin-top: 20px;
        padding: 12px 20px;
        font-size: 1.6rem;
    }
    .section_title_wrap .section_title_img{
        margin-bottom: 20px;
        max-width: 100px;
    }
}

/* sub page top */
.sub_page_top_wrap{
    position: relative;
    padding: 120px 15px 0;
}
.sub_page_top_content{
    width: 100%;
    overflow: hidden;
}

.sub_page_top_content .sub_page_top_title_wrap{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 120px;
}
.sub_page_top_content .sub_page_top_title_wrap .app_icon{
    max-width: 60px;
}
.sub_page_top_content .sub_page_top_title_wrap .sub_page_top_title{
    font-size: 4.8rem;
    font-weight: 700;
    color: #000;
    line-height: 1;
}
.sub_page_top_content.c_white,
.sub_page_top_content.c_white .sub_page_top_title_wrap .sub_page_top_title{
    color: #fff;
}
.sub_page_top_content .sub_page_top_text_wrap{ text-align: center; }
.sub_page_top_content .sub_page_top_text_wrap .sub_page_top_text{
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 1.25;
    margin-bottom: 40px;
}
.sub_page_top_content .sub_page_top_text_wrap .sub_page_top_btn_wrap{
    position: relative;
    display: inline-flex;
}
.sub_page_top_content .sub_page_top_text_wrap .sub_page_top_btn_wrap .sub_page_top_btn{
    padding: 16px 40px;
    border-radius: 12px;
    background-color: var(--text_color);
    color: var(--color_white);
    font-size: 2.8rem;
    width: 100%;
    transition: 0.3s;
}
/*
.sub_page_top_content .sub_page_top_text_wrap .sub_page_top_btn_wrap .sub_page_top_btn{
	background-color: #ff6b00;
}
241129 */


@media (max-width:992px) {
    .sub_page_top_wrap{
        padding: 60px 15px 0;
    }
    .sub_page_top_content .sub_page_top_title_wrap{
        margin-bottom: 60px;
    }
    .sub_page_top_content .sub_page_top_title_wrap .app_icon{
        max-width: 35px;
    }
    .sub_page_top_content .sub_page_top_title_wrap .sub_page_top_title{
        font-size: 3.2rem;
    }
    .sub_page_top_content .sub_page_top_text_wrap .sub_page_top_text{
        font-size: 4rem;
    }
    .sub_page_top_content .sub_page_top_text_wrap .sub_page_top_btn_wrap .sub_page_top_btn{
        font-size: 2rem;
        padding: 8px 20px;
    }

}

/* common info */

.common_info_wrap{
    max-width: 1110px;
    margin: auto;
    padding: 200px 15px;
}
.common_info_wrap .common_info_item{
    border-bottom: 1px solid #d7d7dc;
}
.common_info_wrap .common_info_item .common_info_item_btn{
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.36px;
}
.common_info_wrap .common_info_item .common_info_item_btn > img{
    max-width: 14px;
    transition: 0.3s;
    transform-origin: center;
}

/* 241129 : s */
.common_info_item_content{
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    border-radius: 20px;
    background-color: #f9fafb;
    font-size: 1.6rem;
    font-weight: 300;
    transition: all 0.25s ease-out;
    opacity: 0;
}
.common_info_item.active .common_info_item_content{
    padding: 40px;
    opacity: 1;
    max-height: inherit;
}
/* 241129 : e */

.common_info_wrap .common_info_item .common_info_item_content .info_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list dd h5 {
    margin-top: 10px;
    font-weight: 400;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list dd:first-child h5 {
    margin-top: 0;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list dl + dl{
    margin-top: 10px;

}
.common_info_wrap .common_info_item .common_info_item_content .info_list dt{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list ol li{
    text-indent: -15px;
    padding-left: 15px;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list ul li{
    display: flex;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list ul li:before{
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: var(--text_color);
    margin: 9px 4px 0;
    flex-shrink: 0;
    text-align: left;
}
.common_info_wrap .common_info_item .common_info_item_content .info_list .desc_info{
    color: #979798;
}
.common_info_wrap .common_info_item.active{
    border-bottom: 0;
}
.common_info_wrap .common_info_item.active .common_info_item_btn > img{
    transform: rotate(180deg);
}

@media (max-width:992px) {
    .common_info_wrap{
        padding: 100px 20px;
    }
    .common_info_wrap .common_info_item .common_info_item_btn{
        height: 50px;
        padding: 0 10px;
        font-size: 2rem;
    }
    .common_info_wrap .common_info_item .common_info_item_content{
        padding: 0 20px;
        font-size: 1.6rem;
    }
    .common_info_wrap .common_info_item.active .common_info_item_content{
        padding: 20px;
    }
    .common_info_wrap .common_info_item .common_info_item_content .info_list{
        gap: 10px;
    }
}

/* partner slide */
.partner_slide_wrap .partner_logo_slide > .swiper-wrapper{
    transition-timing-function: linear;
}
.partner_slide_wrap .partner_logo_slide .partner_logo{
    max-height: 60px;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
}
@media (max-width:992px) {
    .partner_slide_wrap .partner_logo_slide .partner_logo{}
    .partner_slide_wrap .partner_logo_slide .partner_logo img {height: 40px;}
}

/* desc item */
.desc_item_wrap{
    padding: 200px 0 0;
    background-color: #f9fafb;
}
.desc_item_wrap .desc_item_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.desc_item_wrap .desc_item_list .desc_item{
    flex-basis: 50%;
    max-width: 480px;
    margin-bottom: 200px;
}
.desc_item_wrap .desc_item_list .desc_item .item_img{
    max-width: 150px;
    margin-bottom: 26px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.6px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_desc{
    font-size: 2.8rem;
    letter-spacing: -0.42px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_desc > span{
    display: block;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_desc > .text_small{
    font-size: 1.8rem;
    letter-spacing: -0.27px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_desc > .desc_text2{
    margin-top: 10px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .desc_notice{
    font-size: 1.8rem;
    color: #979798;
    letter-spacing: -0.27px;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_link{
    position: relative;
    font-size: 2.2rem;
    color: #ff6b00;
    line-height: 1.82;
    letter-spacing: -0.33px;
    transition: 0.3s;
    display: inline-block;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_link span{
    position: relative;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_link span::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ff6b00;
    opacity: 0;
    transition: 0.3s;
}
.desc_item_wrap .desc_item_list .desc_item .item_content .item_link:hover span::after{
    opacity: 1;
}

@media (max-width:992px) {
    .desc_item_wrap{
        padding: 100px 0;
    }
    .desc_item_wrap .desc_item_list{
        row-gap: 50px;
    }
    .desc_item_wrap .desc_item_list .desc_item{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
    .desc_item_wrap .desc_item_list .desc_item .item_img{
        max-width: 100px;
        margin-bottom: 10px;
    }
    .desc_item_wrap .desc_item_list .desc_item .item_content{
        padding: 0 10px;
        gap: 10px;
    } /* 241119 */
    .desc_item_wrap .desc_item_list .desc_item .item_content .item_title{
        font-size: 3rem;
    }
    .desc_item_wrap .desc_item_list .desc_item .item_content .item_desc{
        font-size: 2rem;
    }
    .desc_item_wrap .desc_item_list .desc_item .item_content .desc_notice{
        font-size: 1.6rem;
    }
    .desc_item_wrap .desc_item_list .desc_item .item_content .item_link{
        font-size: 2rem;
    }
}

/* card apply banner */
.card_apply_banner_wrap .banner_wrap{
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}
.card_apply_banner_wrap .banner_wrap.wrap_mobile{ display: none; }
.card_apply_banner_wrap .banner_wrap > .banner_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.card_apply_banner_wrap .banner_wrap > .banner_bg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_apply_banner_wrap .banner_wrap > .banner_content{
    padding: 110px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 711px;
}

.card_apply_banner_wrap .banner_wrap > .banner_content > .banner_text.text1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.72px;
}
.card_apply_banner_wrap .banner_wrap > .banner_content > .banner_text.text2{
    margin-top: 10px;
    font-size: 2.4rem;
    letter-spacing: -0.36px;
}
.card_apply_banner_wrap .banner_wrap > .banner_content > .banner_btn{
    padding: 12px 40px;
    color: var(--color_white);
    font-size: 2rem;
    background-color: #1d1d1e;
    border-radius: 12px;
    margin-top: 30px;
    line-height: 1.25;
    transition: 0.3s;
}
/*
.card_apply_banner_wrap .banner_wrap > .banner_content > .banner_btn:hover{
	background-color: #ff6b00;
}
241129 */
@media (max-width:992px) {
    .card_apply_banner_wrap .banner_wrap{ display: none; }
    .card_apply_banner_wrap .banner_wrap.wrap_mobile{
        display: block;
        max-width: 340px;
        margin: auto;
    }
    .card_apply_banner_wrap .banner_wrap.wrap_mobile .banner_bg > img{
        object-fit: cover;
        object-position: bottom;
    }
    .card_apply_banner_wrap .banner_wrap.wrap_mobile .banner_content{
        padding: 50px 45px;
        max-width: 100%;
        height: 450px;
        justify-content: start;
    }
    .card_apply_banner_wrap .banner_wrap > .banner_content > .banner_text.text1{
        font-size: 22px;
        letter-spacing: -0.42px;
    }
    .card_apply_banner_wrap .banner_wrap > .banner_content > .banner_text.text2{
        font-size: 16px;
        letter-spacing: -0.24px;
    }
    .card_apply_banner_wrap .banner_wrap > .banner_content > .banner_btn{
        margin-top: 20px;
        padding: 9px 20px;
        font-size: 18px;
    }
}

/* 241129 : s */
@media (hover: none) and (pointer: coarse) {
    .sub_page_top_content .sub_page_top_text_wrap .sub_page_top_btn_wrap .sub_page_top_btn:active,
    .card_apply_banner_wrap .banner_wrap > .banner_content > .banner_btn:active,
    .section_title_wrap .section_title_btn:active {
        background-color: #ff6b00;
    }
}
@media (hover: hover) and (pointer: fine) {
    .sub_page_top_content .sub_page_top_text_wrap .sub_page_top_btn_wrap .sub_page_top_btn:hover,
    .card_apply_banner_wrap .banner_wrap > .banner_content > .banner_btn:hover,
    .section_title_wrap .section_title_btn:hover {
        background-color: #ff6b00;
    }
}
/* 241129 : e */

/* sub nav */
.sub_nav_wrap{
    margin-top: -84px;
}
.sub_nav_wrap .sub_nav_inner{
    position: absolute;
    width: 100vw;
    height: 84px;
    border-bottom: 1px solid #edf0f2;
    background-color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    transition: 0.3s;
}
.sub_nav_wrap.fixed .sub_nav_inner{
    position: fixed;
    top: 0;
}
.sub_nav_wrap.fixed.scroll_up .sub_nav_inner{
    top: 100px;
}
.sub_nav_wrap .sub_nav_inner > a{
    height: 100%;
    color: #68686c;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.sub_nav_wrap .sub_nav_inner > a:hover,
.sub_nav_wrap .sub_nav_inner > a.on{
    font-weight: 700;
}

@media (max-width:992px) {
    .sub_nav_wrap{
        margin-top: -40px;
    }
    .sub_nav_wrap .sub_nav_inner{
        height: 40px;
    }
    .sub_nav_wrap.fixed .sub_nav_inner{
        margin-top: 0;
        border-top: 1px solid #edf0f2;
        top: 0;
    }
    .sub_nav_wrap.fixed.scroll_up .sub_nav_inner{
        top: 60px;
    }
    .sub_nav_wrap .sub_nav_inner > a:hover{
        font-weight: 400;
    }
    .sub_nav_wrap .sub_nav_inner > a.on{
        font-weight: 700 !important;
    }
}

/* pagination */
.cs_pagination{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.cs_pagination .pagination_direction{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #68686c;
    letter-spacing: -0.24px;
    transition: 0.3s;
}
.cs_pagination .pagination_direction.active,
.cs_pagination .pagination_direction:hover{
    background-color: #f9fafb;
    border-radius: 100%;
    color: #1d1d1e;
}
.cs_pagination .pagination_direction > img{
    max-width: 8px;
}
.cs_pagination .pagination_num_wrap{
    display: flex;
    gap: 4px;
}

@media (max-width:992px) {
    .cs_pagination .pagination_direction{
        width: 20px;
        height: 20px;
    }
    .cs_pagination .pagination_direction > img{
        max-width: 6px;
    }
    .cs_pagination .pagination_direction:hover{
        background-color: transparent;
        color: #68686c;
    }
    .cs_pagination .pagination_direction.active{
        background-color: #f9fafb !important;
        color: #1d1d1e !important;
    }
}

/* scrollTop */
.btn_scrolltop{
    position: fixed;
    bottom: 100px;
    right: calc((100vw - 1256px) / 2);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #d7d7dc;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transition: 0.3s;
    transition-property: background-color, opacity;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.btn_scrolltop.show{
    opacity: 1;
}

.btn_scrolltop > .scrolltop_logo{
    width: 19px;
    height: 19px;
    mask-image: url(../img/icon/scrolltop_arrow.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
    -webkit-mask-image: url(../img/icon/scrolltop_arrow.png); /* cors 에러 발생중 (서버에 올리면 해결됨) */
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: #68686c;
    transition: 0.3s;
}

.btn_scrolltop:hover{
    background-color: #68686c;
}
.btn_scrolltop:hover > .scrolltop_logo{
    background-color: #fff;
}

@media (max-width:1300px) {
    .btn_scrolltop{
        right: 15px;
    }
}
@media (max-width:992px) {
    .btn_scrolltop{
        width: 35px;
        height: 35px;
        right: 15px;
        bottom: 15px;
    }
    .btn_scrolltop > .scrolltop_logo{
        width: 15px;
        height: 15px;
    }
}


/* term */

.section.term {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.term-bx {
    margin: 0 0 20px;
}
.term-bx:last-child {}
.term-bx h2 {
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 700;
}
.term-bx h3 {
    margin: 5px 0;
    font-size: 1.6rem;
    font-weight: 700;
}
.term-bx,
.term-bx p,
.term-bx li,
.term-bx table,
.term-bx th {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: justify;
}
.term-bx td {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
}
.term-bx th {
    text-align: center;
}
.term-bx p {
    margin-bottom: 5px;
}
.term-bx > ul {
    margin-bottom: 5px;
}
.term-bx > ul li,
.term-bx > ul li ul {
    margin-top: 3px;
}
.term-bx > ul li {
    text-indent: -15px;
    padding-left: 15px;
}